.top-wrap::before,
.overlay-wrap::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  content: "";
  z-index: 1;
  background-color: rgba(44, 44, 44, 0.5);
}
.top-wrap-height {
  height: 80vh;
  min-height: 460px;
  transition: height 0.25s;
}

.main-info {
  background-color: $bluish;
  padding: 30px;
  .main-btn {
    background-color: $lilac !important;
    color: $bluish !important;
  }
}
.principal-text {
  color: $bluish;
}
.custom-btn {
  border: 1px solid $redish;
  color: $bluish;
  background-color: $baby-pink;
  :hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
  }
}

.uk-subnav-pill > * > :first-child {
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.04);
}
.top-container {
  z-index: 2;
}
.uk-logo > img {
  height: 58px;
}
.uk-logo img {
  height: 38px;
}
.subtitle-text {
  font-size: 1.2em;
  opacity: 0.7;
  font-weight: 300;
}
.logos-grid img {
  display: block;
  width: 60px;
  margin: 0 auto;
  filter: grayscale(100%);
  transition: filter 0.25s;
  &:hover {
    display: block;
    width: 60px;
    margin: 0 auto;
    filter: grayscale(0);
  }
}

// nav.nav-scroll {
//   position: relative;
//   z-index: 2;
//   height: 2rem;
//   box-sizing: border-box;
//   overflow-y: hidden;
//   padding: 1rem;
//   border-top: 1px solid rgba(0, 0, 0, 0.075);
//   line-height: 1em;
//   ul {
//     overflow-x: auto;
//     text-align: center;
//     white-space: nowrap;
//     -webkit-overflow-scrolling: touch;
//     padding-bottom: 1rem;
//   }
//   li {
//     font-weight: 500;
//   }
// }

.news-slide > li > .uk-card {
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.075);
}

#header.uk-sticky-below {
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.07);
}
